@using WorkflowAutomation.Application.Users.Queries.GetUserInfo
@using WorkflowAutomation.Client.Models

<AuthorizeView>
    <Authorized>
        @if (IsFullInfo)
        {
            <Dropdown > 
                <DropdownToggle Color="Color.Light" Size="Size.Large">
                    Вы вошли как: @UserName @UserPatronomic
                </DropdownToggle >
                <DropdownMenu Margin="Margin.Is0.OnDesktop">
                    <DropdownDivider />
                    <DropdownItem Margin="Margin.Is0.OnDesktop">
                        <a href="UserInformation/@UserId"> Профиль пользователя СЭД</a></DropdownItem>
                    <DropdownDivider />
                    <DropdownItem Margin="Margin.Is0.OnDesktop">
                        <a href="LogOut">Выход</a></DropdownItem>
                </DropdownMenu>
            </Dropdown>
            
        }
        else 
        {
            <p>Вы вошли как: @context.User.Identity.Name</p>
        }
        
    </Authorized>
    <NotAuthorized>
        <a href="Register">Регистрация</a>
        <a href="Login">Вход</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string? UserName { get; set; }

    [Parameter]
    public string? UserPatronomic { get; set; }

    [Parameter]
    public bool IsFullInfo { get; set; }

    [Parameter]
    public string? UserId { get; set; }
}
