@using WorkflowAutomation.Application.Users.Queries.GetUserInfo
@using WorkflowAutomation.Client.Models

<AuthorizeView>
    <Authorized>
        @if (IsFullInfo)
        {
            <p>Вы вошли как: @UserName @UserPatronomic</p>
        }
        else 
        {
            <p>Вы вошли как: @context.User.Identity.Name</p>
        }
        <a href="LogOut">Выход</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Регистрация</a>
        <a href="Login">Вход</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string? UserName { get; set; }

    [Parameter]
    public string? UserPatronomic { get; set; }

    [Parameter]
    public bool IsFullInfo { get; set; }
}
