@page "/Admin"
@using WorkflowAutomation.Client.Components
<hr />
<h2 style="text-align: center"> Администрирование Системы Электронного Документооборота </h2>
<hr/>

<h3>Упраление подразделениями <MyCircle Text="?" SubText="Подразделения это круто"></MyCircle></h3>

<h3>Управление должностями <MyCircle Text="?" SubText="
Должности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это круто
Должности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это крутоДолжности это круто"></MyCircle>
</h3>
<h3>Регистрация пользователей <MyCircle Text="?"></MyCircle> </h3>
<h3>Установка ролей пользователям <MyCircle Text="?"></MyCircle> </h3>
<h3>Статистика о сбоях <MyCircle Text="?"></MyCircle> </h3>
<h3>Конфигурация  документооборота <MyCircle Text="?"></MyCircle> </h3>
<h3></h3>

@code {
    //Там будет редирект на страницу управления подразделениями, страницу управления должностями,
    //  установка роли пользователю, статистика о сбоях, регистрация пользователя, конфигурация документаоборота
}
