@page "/AdminSubdivision"

<hr />
<h2 style="text-align: center">Упраление должностями</h2>
<hr />

<Card Margin="Margin.Is4.OnX.Is4.OnY">
    <CardTitle Size="3">
        Просмотр должностей
    </CardTitle>
    <CardText>
        Создать новое подразделение без добавления сотрудников
    </CardText>

   @* <Button class="btn-primary" Size="Size.Large" Width="Width.Is25"
            @onclick="(() => showCreateSubdivision = !showCreateSubdivision)">
        Перейти к созданию
    </Button>
    @if (showCreateSubdivision is true)
    {
        <Label> Создание подразделения</Label>
    }*@

</Card>

@code {
    
}
