@page "/adminpage"

@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject UserManager<IdentityUser> _userManager
@inject SignInManager<IdentityUser> _signInManager


     
<h3>AdminPage</h3>

@code {

}
