@*@page "/alldocuments"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WorkflowAutomation.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>DocumentsData</PageTitle>

<h1>DocumentsData</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>DocumentType</th>
                <th>ReceiverUser</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Title</td>
                    <td>@forecast.DocumentType</td>
                    <td>@forecast.ReceiverUser</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LoadAllDocuments[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<LoadAllDocuments[]>("LoadAllDocuments");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
*@