@page "/asd"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager


    <PageTitle>Index</PageTitle>

    <h1>Здравствуйте, @Username</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />






@code{

    private string Username;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("authentication/login");
        }
        else
        {
            Username = user.Identity.Name;
        }
    }
}
