<button class="btn btn-outline-secondary rounded-circle" @onclick="() => showComponent = true">@Text</button>
@if (showComponent)
{   <hr/>
    <label style="font-size:18px">@SubText</label>
    <hr />
}


@code {
            [Parameter]
            public string Text { get; set; }
            [Parameter]
            public string SubText{ get; set; }
            bool showComponent;
}
