.list-group-item.active {
    background-color: #e6e7ee !important;
    border-color: #0d6efd !important;
}

.bg-primary {
    background-color: #e6e7ee !important;
}

.text-white {
    color: black !important;
}

.list-group-scrollable {
    overflow-y: scroll;
    max-height: 300px !important;
    max-width: 750px !important;
    margin-bottom: 50px;
}

.form-control {
    width: 750px !important;
}

.subscribe {
    display: inline-flex;
    width: auto;
    max-width: 100%;
}

    .subscribe input,
    .subscribe button {
        display: block;
        padding: 8px 10px;
        border: 0;
        background: transparent;
        font: inherit;
        box-sizing: border-box;
    }

    .subscribe input {
        border: 1px solid #ccc;
        border-right: 0;
        border-radius: 6px 0 0 6px;
    }

    .subscribe button {
        border: 1px solid #ccc;
        border-radius: 0 6px 6px 0;
        background: #004afa;
        color: #fff;
        text-transform: uppercase;
    }

.tight {
    margin-top: 22.2em;
    margin-bottom: 22.2em;
}

.breadcrumb {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.breadcrumb-item {
    -ms-flex-align: center;
    align-items: center;
    color: #000000;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
}

    .breadcrumb-item.active {
        cursor: default;
    }

    .breadcrumb-item:only-child {
        padding: 0.375rem 0.5rem;
    }

    .breadcrumb-item a {
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 0.5rem;
        color: inherit;
        padding: 0.375rem 0.5rem;
        text-decoration: none;
    }



        .breadcrumb-item a:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

    .breadcrumb-item + .breadcrumb-item {
        margin-left: 0;
    }

        .breadcrumb-item + .breadcrumb-item::before {
            font-size: 1.5rem;
            line-height: 1.5rem;
            vertical-align: -0.362637em;
            font-family: 'Material Icons';
            font-family: var(--font-family-material-icons);
            -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
            font-style: normal;
            font-weight: normal;
            letter-spacing: normal;
            text-rendering: optimizeLegibility;
            text-transform: none;
            white-space: nowrap;
            word-wrap: normal;
            color: rgba(0, 0, 0, 0.54);
            content: "/";
            display: inline-block;
            margin-right: 0;
        }

    .breadcrumb-item.active::before {
        margin-right: 0.5rem;
    }
